h1 {
  width: 400px;
  text-align: center;
  margin: auto;
}

ul {
  list-style-type: none;
}

li {
  margin: 25px;
  background-color: #5a90ed;
  border: 1px solid black;
  width: 175px;
  height: 30px;
  text-align: center;
  border-radius: 8px;
}

button {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.pokemonNames {
  background-color: #f44245;
  border-radius: 8px;
  margin: auto;
  padding: 10px;
  width: 75%;
}

/* modal workings- old */
#modal-container {
  display: none;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #FFDE00;
  /* margin-left: 350px; /*  modal left side margin */ */
  padding: 15px;
  max-width: 700px;
  text-align: left;
  border-radius: 8px;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  padding: 5px;
}

.modal p {
  padding: 5px;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}
